body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e2e1e0!important;
}



/*building react app
//data tables
//error handling
//redux validation*/
